sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	border-style: none;
	height: 70.08334em;
	width: 49.58333em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"FRSPCM+MicrosoftYaHei-Bold";
	src:url("2323641a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	color: #000000;
	font-size: 3em;
	font-family: "FRSPCM+MicrosoftYaHei-Bold", "Times New Roman";
}
.stl_08 {
	line-height: 1.319824em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"RQQWSM+MicrosoftYaHei";
	src:url("bcca4298-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	color: #000000;
	font-size: 1.333333em;
	font-family: "RQQWSM+MicrosoftYaHei", "Times New Roman";
}
.stl_11 {
	letter-spacing: 0.0003em;
}

.ie .stl_11 {
	letter-spacing: 0.0055px;
}
@font-face {
	font-family:"UHVUNO+MicrosoftYaHei";
	src:url("ed8d89a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	color: #000000;
	font-size: 1.333333em;
	font-family: "UHVUNO+MicrosoftYaHei";
}
.stl_13 {
	letter-spacing: -0.0001em;
}

.ie .stl_13 {
	letter-spacing: -0.0018px;
}
.stl_14 {
	letter-spacing: -0.0003em;
}

.ie .stl_14 {
	letter-spacing: -0.0056px;
}
.stl_15 {
	letter-spacing: -0.0002em;
}

.ie .stl_15 {
	letter-spacing: -0.0046px;
}
.stl_16 {
	color: #000000;
	font-size: 1.25em;
	font-family: "UHVUNO+MicrosoftYaHei";
}
.stl_17 {
	letter-spacing: -0.0004em;
}

.ie .stl_17 {
	letter-spacing: -0.0071px;
}
.stl_18 {
	color: #000000;
	font-size: 1.25em;
	font-family: "RQQWSM+MicrosoftYaHei", "Times New Roman";
}
@font-face {
	font-family:"JFAWVT+MicrosoftYaHei";
	src:url("62ed7edb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	color: #000000;
	font-size: 1.833333em;
	font-family: "JFAWVT+MicrosoftYaHei", "Times New Roman";
}
.stl_20 {
	color: #000000;
	font-size: 1em;
	font-family: "JFAWVT+MicrosoftYaHei", "Times New Roman";
}
@font-face {
	font-family:"GOOVJB+MicrosoftYaHei";
	src:url("cf85bbfa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	color: #000000;
	font-size: 1em;
	font-family: "GOOVJB+MicrosoftYaHei";
}
.stl_22 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "JFAWVT+MicrosoftYaHei", "Times New Roman";
}
.stl_23 {
	color: #000000;
	font-size: 0.833333em;
	font-family: "GOOVJB+MicrosoftYaHei";
}
@font-face {
	font-family:"AHGCMJ+MicrosoftYaHei-Bold";
	src:url("9720a749-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	color: #000000;
	font-size: 1.833333em;
	font-family: "AHGCMJ+MicrosoftYaHei-Bold", "Times New Roman";
}
.stl_25 {
	color: #000000;
	font-size: 1.166667em;
	font-family: "AHGCMJ+MicrosoftYaHei-Bold", "Times New Roman";
}
@font-face {
	font-family:"GOTWQM+MicrosoftYaHei-Bold";
	src:url("2bfa437c-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	color: #000000;
	font-size: 1.166667em;
	font-family: "GOTWQM+MicrosoftYaHei-Bold";
}
.stl_27 {
	color: #000000;
	font-size: 1.166667em;
	font-family: "JFAWVT+MicrosoftYaHei", "Times New Roman";
}
.stl_28 {
	color: #000000;
	font-size: 1.166667em;
	font-family: "GOOVJB+MicrosoftYaHei";
}
.stl_29 {
	letter-spacing: 0.0024em;
}

.ie .stl_29 {
	letter-spacing: 0.0446px;
}
.stl_30 {
	letter-spacing: 0.0012em;
}

.ie .stl_30 {
	letter-spacing: 0.0226px;
}
.stl_31 {
	letter-spacing: 0.0025em;
}

.ie .stl_31 {
	letter-spacing: 0.0473px;
}
