sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	border-style: none;
	height: 70.08334em;
	width: 49.58333em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.008333em;
}
.ie .stl_04 {
	height: 70.08334em;
}
@font-face {
	font-family:"GDWUMS+MicrosoftYaHei-Bold";
	src:url("9bae0c66-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	color: #000000;
	font-size: 1.5em;
	font-family: "GDWUMS+MicrosoftYaHei-Bold", "Times New Roman";
}
.stl_06 {
	line-height: 1.319824em;
}
.stl_07 {
	letter-spacing: 0em;
}

.ie .stl_07 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DCTLBV+MicrosoftYaHei";
	src:url("09d58214-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	color: #333333;
	font-size: 1.166667em;
	font-family: "DCTLBV+MicrosoftYaHei", "Times New Roman";
}
@font-face {
	font-family:"QRHPRG+MicrosoftYaHei";
	src:url("ae5fd4a9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_09 {
	color: #333333;
	font-size: 1.166667em;
	font-family: "QRHPRG+MicrosoftYaHei";
}
.stl_10 {
	color: #000000;
	font-size: 1.166667em;
	font-family: "GDWUMS+MicrosoftYaHei-Bold", "Times New Roman";
}
